:root {
  font-size: 16px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
  --dark: #191919;
  --dark-blue: #2d3142;
  --blueish: #7b9ea8;
  --green: #aceb98;
  --off-white: #ffffea;
  --logo: #ffffea;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 300ms;
  --mid-font: var(--mid-font);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
  margin: 0;
  padding: 0;
}

h1 {
  font-size: clamp(1vw, 5vw, 6vw);
}

/*  Separate */
.one {
  background-color: var(--dark-blue);
  padding: 1rem;
  text-align: center;
  align-items: center;
  color: var(--off-white);
}

.one-light {
  background-color: #e8f1f2;
  /* background-color: var(--off-white);  */

  color: var(--dark-blue);
}

.profile {
  height: 50vw;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.one h1 {
  margin: 3%;
  font-size: clamp(1vw, 5vw, 4vw);
}

.info {
  margin-top: 0;
  font-size: var(--mid-font);
  margin-left: 10%;
  margin-right: 10%;
}

.lang {
  background-image: linear-gradient(
    33deg,
    #d7fcd4,
    #bad9b5,
    #edff86,
    #fe938c,
    #d4f5f5
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbow-animation 23s linear infinite;
}

.lang-light {
  background-image: linear-gradient(
    33deg,
    #de6e4b,
    #331832,
    #a61c3c,
    #1b5299,
    #2a2b2a
  );
}

@keyframes rainbow-animation {
  to {
    background-position: 333vh;
  }
}

/*  Separate */
.two {
  background-color: #023047;
  padding: 1rem;
  text-align: center;
  color: var(--off-white);
  font-size: 2vh;
  height: auto;
}

.two-light {
  background-color: #177e89;
  /* A1E8CC  C5DECD                 */
}

/*  Separate */
.three {
  background-color: #13293d;
  padding: 1rem;
  text-align: center;
  color: var(--off-white);
  font-size: var(--mid-font);
  height: auto;
}

.three a, .info a {
  color: #fca311;
  text-decoration: none;
  font-weight: bold;
  font-size: var(--mid-font);
}

.three-light {
  background-color: #b3efb2;
  color: var(--dark);
}

.three-light a {
  color: #156064;
}

/*  Separate */
.four {
  background-color: #061826;
  padding: 1rem;
  text-align: center;
  color: var(--off-white);
  height: auto;
}

.four-light {
  background-color: #f1fec6;
  color: var(--dark);
  --logo: var(--dark);
  --foot-text: var(--off-white);
}

.logos {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  margin-top: 3%;
}

.four svg {
  height: 7vw;
  margin: 7px;
  color: var(--logo);
}

.four svg:hover {
  width: 7.5vh;
}

/*  Separate */
.footer {
  color: var(--off-white);
  background-color: #2b2d42;
  padding: 3rem;
  padding-bottom: 8rem;
  text-align: center;
  font-family: Alkatra;
  font-size: var(--mid-font);
}

.footer-light {
  /* background-color: var(--off-white); */
  background-color: #e7e5df;
  color: var(--dark-blue);
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: hidden;
}

.navbar-light {
  background-color: #f7f7f7;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  cursor:pointer;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: white;
}

svg {
  color: white;
}

svg:hover {
  color: #17bebb;
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 2.3vh;
}

.link-text:hover{
  color: #17bebb;
  font-weight: bold;
  font-size: 2.5vh;
  transition: var(--transition-speed);
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.nav-link svg:hover{
  width: 2.2rem;
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  font-size: 3vh;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.logo-text:hover{
  font-size: 3.3vh;
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .one h1 {
    font-size: 3vh;
  }

  .info {
    font-size: 2vh;
    margin: 0;
  }
  .three {
    font-size: 3.5vw;
  }
  .three a {
    font-size: 4vw;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .profile {
    height: 43vh;
  }

  .container {
    margin-left: 5rem;
  }

  .footer {
    padding-bottom: 3rem;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
