:root {
  font-size: 16px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  font-family: Roboto, sans-serif;
  margin: 0 auto;
  max-width: 98vw;
  padding: 20px;
  font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.project {
  max-width: 480px;
  height: fit-content;
  background-color: #444955;
  color: #f9f9f7;
  border-radius: 3vh;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 23px;
  padding: 20px;
}

.project-light{
  background-color: #F9F8F8;
  color: #000;
}


.project img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  margin-top: 0.5rem;
  border-radius: 10%;
  border: 3px solid #006969;
}


.project h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}


.description {
  margin-bottom: 20px;
  font-size: 1.3rem;
  line-height: 1.5;
  text-align: center;
}

.buttons {
  /* margin-top: 10%; */
  display: flex;
  justify-content: space-around;
}

.buttons a {
  padding: 12px 20px;
  border-radius: 2vw;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2vw;
  background-color: var(--dark-blue);
  color: #F0F2EF;

}


